body {
  font-family: Helvetica;
}

#root > div {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gif-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  // flex: 0 0 60%;
  height: 100%;
  background-color: #BBB;
  .form-search {
    width: 80%;
    height: 50px;
    border : 1px solid #DDD;
    background-color: #EEE;
  }
}

.gif-list {
  width: 40%;
  // flex: 0 0 40%;
  height: 100%;
  background-color: lightgrey;
  column-count: 2;

  .gif {
    width: 120px;
    max-width: 100%;
    margin: 5px;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

