body {
  font-family: Helvetica;
}

#root > div {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side {
  height: 100%;
  width: 60%;
  background-color: #CCC;
  .search-bar {
    height: 10%;
    width: 100%;
    form {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .display-gif {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      height: 200px;
      max-width: 300px;
    }
  }
}

.right-side {
  height: 100%;
  width: 40%;
  background-color: #DDD;
  overflow: scroll;
  img {
    width: 150px;
    height: 150px;
    margin: 5px;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}


